.header-container{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 80px;
    box-sizing: border-box;
    //為了IOS 14.5以下裝置所設計
    margin-right: 16px;
    padding: 20px 40px;

    &>*{
        margin-right: 16px;
    }
    &last-child{
        margin-right: 0;
    }

}

.filter{
    display: flex;

    &-box{
        padding: 8px 24px;
        background: #FFFFFF;
            /* Black&white/400 */
        border: 1px solid #DEDEDE;
        border-radius: 20px;
    }

    &-item{
        border-left:1px solid #DEDEDE;
    }
}