.dropdown{
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    max-width: 124px;
    height: 32px;
    &-title{
        margin-right: 7px;
        color:#B0B0B0
    }
    &-icon{
        img{
            display: block;
        }
    }
    &-menu{
        display: flex;
        width: 100px;
    }
}

.invisible{
    display: none;
}