.skeleton{
  display: flex;
  align-items: center;
  background-position: -500px 0;
  border-radius: 10px;
  content: '';
  width: 100%;
  height: 100%;
  animation: skeletonShine 1s linear 1s infinite normal forwards;
  background: #c4c5cc;
  background-image: linear-gradient(90deg, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 1000px 100%;

}
@keyframes skeletonShine {
  0%{
    background-position: -250px 0;
  }
  50%{
    background-position: 0px 0;
  } 
  
}