.user {
  display: flex;
  align-items: center;
  height: 40px;

  &-photo {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-right: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border: 1px solid gray;
      border-radius: 20px;
    }
  }
  &-name {
    font-family: 'Noto Sans TC';
  }
}
.evaluate {
  display: flex;
}

//todo 拆出去
// .star-shape{
//     display: block;
//     height: 0;
//     width: 0;
//     position: relative;
//     color:#11A8CD;
//     border-right: 100px solid transparent;
//     border-bottom: 80px solid #11A8CD;
//     border-left: 100px solid transparent;
//     margin: 50px 0;
//     transform: rotate(35deg);
//     &::before{
//         border-bottom: 80px solid #11A8CD;
//         border-left: 30px solid transparent;
//         border-right: 30px solid transparent;
//         position: absolute;
//         height: 0;
//         width: 0;
//         top: -45px;
//         left: -65px;
//         display: block;
//         content: '';
//         transform: rotate(-35deg);
//     }
//     &::after{
//         position: absolute;
//             display: block;
//             color: #11A8CD;
//             top: 3px;
//             left: -105px;
//             width: 0px;
//             height: 0px;
//             border-right: 100px solid transparent;
//             border-bottom: 70px solid #11A8CD;
//             border-left: 100px solid transparent;
//             transform: rotate(-70deg);
//             content: '';
//     }
// }
